- content_for :title, @event.name

- pred = @event.predictions
- home = @event.predicted_home_team
- away = @event.predicted_away_team
- home_name = @event.home_team_name
- away_name = @event.away_team_name
- home_logo = @event.home_team_logo
- away_logo = @event.away_team_logo
- comp = pred&.dig('comparison')
- perc = pred&.dig('predictions', 'percent')
- kickoff = @event.kick_off&.in_time_zone || @event.kick_off
- primary_market = @event.primary_market
- markets_count = @markets&.size || 0
- event_tags = @event.tags
- sentiment_details_path = (@country && @competition) ? sentiment_country_competition_event_path(@country, @competition, @event) : nil
- breadcrumb_items = [{ label: 'Countries', path: countries_path }]
- if @country
  - breadcrumb_items << { label: @country.name, path: country_competitions_path(@country) }
- if @competition
  - comp_path = @country ? country_competition_events_path(@country, @competition) : nil
  - breadcrumb_items << { label: @competition.name, path: comp_path }
- breadcrumb_items << { label: @event.name }

.page-shell.pb-5
  .container
    = render 'shared/breadcrumbs', items: breadcrumb_items

    = render 'events/hero',
      event: @event,
      country: @country,
      competition: @competition,
      home_name: home_name,
      away_name: away_name,
      home_logo: home_logo,
      away_logo: away_logo,
      kickoff: kickoff,
      primary_market: primary_market,
      markets_count: markets_count,
      event_tags: event_tags,
      pred: pred,
      perc: perc

    = render 'events/sentiment_and_coverage',
      event_tags: event_tags,
      tag_sentiments: @tag_sentiments,
      related_articles: [],
      show_coverage: false,
      details_path: sentiment_details_path

    = render 'events/market_pulse',
      primary_market: primary_market,
      event: @event

    = render 'events/event_dashboard',
      pred: pred,
      home: home,
      away: away,
      perc: perc,
      comp: comp

    = render 'events/markets_list', markets: @markets

    = render 'events/exchange_activity', event: @event

    = render 'events/raw_predictions', event: @event
