-# app/views/countries/index.html.haml
.container.mt-4
  .row.justify-content-center
    .col-md-8
      .d-flex.justify-content-between.align-items-center.mb-4
        %h1.h2 Browse by Country
        %span.badge.bg-secondary.rounded-pill
          = pluralize(@countries.count, 'Country')

      .list-group.shadow-sm
        - @countries.each do |country|
          = link_to country_path(country), class: 'list-group-item list-group-item-action d-flex align-items-center py-3' do
            - if country.image_path.present?
              %img.me-3{ src: country.image_path, style: 'width: 32px; height: auto;', alt: "#{country.name} flag" }
            - else
              .me-3.bg-light.text-muted.text-center{ style: 'width: 32px; line-height: 24px; border: 1px solid #dee2e6;' }
                ?

            %div
              %h5.mb-0= country.name
              %small.text-muted
                = pluralize(country.leagues.count, 'League')

            %i.bi.bi-chevron-right.ms-auto.text-muted